.resume-group-item {
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid #E4E4E4;
}

.resume-group-item--dark {
  border-top: 1px solid #373737;
}

.resume-group-item__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}

.resume-group-item__title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
  /* identical to box height, or 36px */

  letter-spacing: -0.05em;

  color: #000000;
}

.resume-group-item__title--dark {
  color: #FFFFFF;
}

.resume-group-item__subtitle {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  /* identical to box height, or 27px */

  letter-spacing: -0.05em;

  color: #000000;
}

.resume-group-item__subtitle--dark {
  color: #FFFFFF;
}

.resume-group-item__role-and-time {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.resume-group-item__role {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  /* identical to box height, or 27px */

  letter-spacing: -0.05em;

  /* Black */

  color: #000000;

  margin-bottom: 4px;
}

.resume-group-item__role--dark {
  color: #FFFFFF;
}

.resume-group-item__time {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  /* identical to box height, or 18px */

  letter-spacing: -0.05em;
  white-space: nowrap;

  /* Black */

  color: #000000;

  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;

  border: 1px solid #9D9D9D;
  border-radius: 7px;
}

.resume-group-item__time--dark {
  color: #FFFFFF;
}

.resume-group-item__text {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  /* or 27px */

  letter-spacing: -0.05em;

  /* Gray */

  color: #9D9D9D;
}

@media (max-width: 800px) {
  .resume-group-item__text {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .resume-group-item__remote {
    display: none;
  }
}