.time-and-links__wrapper--dark {
  background: rgb(0, 0, 0, 1);
}

.time-and-links__wrapper {
  animation: timeandlinks-init .5s ease-in-out 0s;
}

.time-and-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 36px 36px 36px 36px;

  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.time-and-links__links {
  display: flex;
  flex-direction: row;
  column-gap: 16px;
}

@media (max-width: 865px) {
  .time-and-links {
    flex-direction: column;
    row-gap: 36px;
  }
}

@keyframes timeandlinks-init {
  0% {
    opacity: 0;
    transform: translateY(200%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}