.horizontal-text-slider__wrapper {
  overflow: hidden;
  position: relative;
  height: 218px;
  padding-top: calc(120px - 36px);
  padding-bottom: 120px;
  animation: vertical-wrapper-init .5s ease-in-out 0s;
}

.horizontal-text-slider__animation-wrapper {
  animation: wrapper-init .5s ease-in-out 0s;
}

.horizontal-text-slider__wrapper--dark {
  background-color: rgb(0, 0, 0);
}

.horizontal-text-slider {
  position: absolute;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 200px;
  line-height: 100%;
  /* identical to box height, or 200px */
  letter-spacing: -0.05em;
  /* Gray */
  color: #9D9D9D;
  white-space: nowrap;
}

.horizontal-text-slider__one {
  animation: text-one-scroll 10s linear infinite;
}

.horizontal-text-slider__two {
  transform: translate(100%);
  -webkit-transform: translate(100%);
  animation: text-two-scroll 20s linear infinite;
}

.horizontal-text-slider__designer {
  color: #000000;
}

.horizontal-text-slider__designer--dark {
  color: #FFFFFF;
}

@keyframes text-one-scroll {
  0% {
    transform: translate(0%, 0);
    -webkit-transform: translate(0%, 0);
  }
  100% {
    transform: translate(-100%, 0);
    -webkit-transform: translate(-100%, 0);
  }
}

@keyframes text-two-scroll {
  0% {
    transform: translate(100%, 0);
    -webkit-transform: translate(100%, 0);
  }
  100% {
    transform: translate(-100%, 0);
    -webkit-transform: translate(-100%, 0);
  }
}

@keyframes wrapper-init {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes vertical-wrapper-init {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@media (max-width: 800px) {
  .horizontal-text-slider__wrapper {
    padding-top: calc(96px - 36px);
    padding-bottom: 96px;
  }
}

@media (max-width: 570px) {
  .horizontal-text-slider {
    font-size: 128px;
  }
  .horizontal-text-slider__wrapper {
    padding-top: calc(56px - 36px);
    padding-bottom: 56px;
    height: 144px;
  }
}