.horizontal-text-slider {
  position: relative;
  width: 100%;
  height: 422px;
  overflow-x: hidden;

  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.horizontal-text-slider__marquee {
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
  padding-top: 84px;
  padding-bottom: 138px;
}

.horizontal-text-slider__span {
  display: inline-block;
  padding-left: 100%;
  animation: marquee 20s linear infinite;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 200px;
  line-height: 100%;
  /* identical to box height, or 200px */

  letter-spacing: -0.05em;

  /* Gray */

  color: #9D9D9D;
}

.horizontal-text-slider__designer {
  color: #000000;
}

.horizontal-text-slider__marquee2 .horizontal-text-slider__span {
  animation-delay: 10s;
}

@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}