.recent-works {
  padding: 156px 36px 156px 36px;
  box-sizing: border-box;
  text-align: left;

  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.recent-works__title-and-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 36px;
}

.recent-works__title-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.recent-works__title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 64px;
  line-height: 100%;
  /* identical to box height, or 64px */

  letter-spacing: -0.05em;

  /* Black */

  color: #000000;

  margin: 0;
}

.recent-works__amount {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  /* identical to box height, or 29px */

  letter-spacing: -0.05em;

  /* Gray */

  color: #9D9D9D;
}

.recent-works__links {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 16px;
}

.recent-works__table {
  width: 100%;
  border-collapse: collapse;
}

.recent-works__table-header-cell {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  /* identical to box height, or 16px */

  letter-spacing: -0.05em;
  text-transform: uppercase;

  /* Gray */

  color: #9D9D9D;

  padding-top: 12px;
  padding-bottom: 16px;

  border-bottom: 1px solid #E4E4E4;
}

.recent-works__table-cell {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  /* identical to box height, or 18px */

  letter-spacing: -0.05em;

  /* Black */

  color: #000000;

  padding-top: 20px;
  padding-bottom: 22px;

  border-bottom: 1px solid #E4E4E4;
}

.recent-works__table-cell--last {
  text-align: right;
}

.recent-works__table-link {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  /* identical to box height, or 18px */

  letter-spacing: -0.05em;

  /* Black */

  color: #000000;

  text-decoration: none;

  transition: all 1s;
}

.recent-works__table-link:hover {
  color: #F26F0F;
  transition: all 1s;
}

.recent-works__table-link path {
  stroke: #000000;
  transition: all 1s;
}

.recent-works__table-link:hover path {
  stroke: #F26F0F;
  transition: all 1s;
}