.social-link {
  display: inline-block;
  padding: 10px;
  text-decoration: none;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  /* identical to box height, or 20px */

  letter-spacing: -0.05em;

  /* Black */

  color: #000000;

  border: 1px solid #9D9D9D;
  transition: all 1s;
  border-radius: 10px;
}

.social-link:hover {
  background-color: #F26F0F;
  transition: all 1s;
}