.header {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 24px 36px;

  height: 80px;

  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(12px);
  /* Note: backdrop-filter has minimal browser support */

  position: sticky;
  top: 0;
  z-index: 2;
}

.header__menu {
  display: flex;
  flex-direction: row;
  gap: 32px;
}

.header__menu-item {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  /* identical to box height, or 20px */

  letter-spacing: -0.05em;

  /* Black */

  color: #9D9D9D;

  transition: all 1s;
}

.header__menu-item:hover {
  color: #F26F0F;
  transition: all 1s;
}

.header__menu-item--selected {
  color: #000000;
}

.header__menu-item-link {
  color: inherit;
  text-decoration: none;
}