.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  column-gap: 70px;
  align-items: center;

  background: #FFFFFF;
  padding: 24px 36px 24px 36px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  /* identical to box height, or 16px */

  letter-spacing: -0.05em;

  /* Gray */

  color: #9D9D9D;

  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;

  box-sizing: border-box;
}

.footer--dark {
  background: #000000;
}

.footer__left-sm {
  display: none;
  white-space: nowrap;
}

.footer__right-link {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  /* identical to box height, or 16px */

  letter-spacing: -0.05em;
  color: #000000;
  white-space: nowrap;
}

@media (max-width: 375px) {
  .footer__left-md-plus {
    display: none;
  }
  .footer__left-sm {
    display: block;
  }
}