.toggle-with-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 32px;
}

.toggle-with-text__text {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  /* identical to box height, or 20px */

  letter-spacing: -0.05em;

  /* Black */

  color: #000000;
}

.toggle-with-text__label {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 28px;
}

.toggle-with-text__input {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggle-with-text__span {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #E5E5E5;;
  transition: 0.3s;
  border-radius: 30px;
}

.toggle-with-text__span:before {
  position: absolute;
  content: "";
  height: 22.4px;
  width: 22.4px;
  left: 3px;
  bottom: 2.6px;
  background-color: #fff;
  border-radius: 50%;
  transition: 0.3s;
}

.toggle-with-text__input:checked + .toggle-with-text__span {
  background-color: #00c853;
}

.toggle-with-text__input:checked + .toggle-with-text__span:before {
  transform: translateX(22.4px);
}